RewriteEngine On

# Diretorios extras
RewriteRule ^testes - [L,NC]
RewriteRule ^exemplo - [L,NC]

#padrozinar diretorio /admin
RewriteRule ^admin/([a-zA-Z0-9-_/]+)/?$ ./app.php?dir=admin&route=$1 [L,QSA]
RewriteRule ^admin/([a-zA-Z0-9-_/]+)?$ ./app.php?dir=admin&route=index [L,QSA]
RewriteRule ^admin([a-zA-Z0-9-_/]+)?$ ./app.php?dir=admin&route=index [L,QSA]

#chat
RewriteRule ^atd - [L,NC]
RewriteRule ^/atd - [L,NC]
RewriteCond $1 !^(css|js|img|fotos|slide)/

#Diretorios da base
RewriteRule ^([a-zA-Z0-9-_/]+)/?$ ./app.php?route=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9-_/]+)?$ ./app.php?route=index [L,QSA]

#Pagina 404
ErrorDocument 404 404.php
