<div class="mar-bot-20 hidden-xs">
    <div class="pad-5 border-1-blacks">
        <div class="row" id="banner-info">            
            <div class="col-md-4 col-xs-6 text-uppercases text-center [show_freteg]">
                <button type="button" class="btn btn-custom btn-round"><span class="fa fa-truck fa-3x"></span></button>                
                <br/> 
                <span class="hidden-xs">Frete Grátis Acima de R$ <!--{frete_sul}--></span>
                <small class="visible-xs"><a href="[baseUri]/pagina/entregas-e-frete/">Frete grátis acima de R$ <!--{frete_sul}--></a></small>
                <small class="hidden-xs"><br><a href="[baseUri]/pagina/entregas-e-frete/">Entenda as regras aqui</a></small>
            </div>

            <div class="col-md-4 col-xs-6 text-uppercases text-center [show_cielo]">
                <i class="fa fa-credit-card fa-3x hide"></i>
                <button type="button" class="btn btn-custom btn-round"><span class="fa fa-credit-card fa-3x"></span></button>                
                <br/>
                <span class="hidden-xs">Tudo em até <!--{parc_num_info}-->x s/ juros <br> No Cartão de Crédito</span>
                <small class="visible-xs">Tudo em até <!--{parc_num_info}-->x no cartão</small>
            </div>

            <div class="col-md-4 col-xs-6 text-uppercases text-center [show_desc_boleto]">
                <i class="fa fa-barcode fa-3x hide"></i>
                <button type="button" class="btn btn-custom btn-round"><span class="fa fa-barcode fa-3x"></span></button>
                <br/>
                <span class="hidden-xs"><!--{desconto_boleto}-->% de desconto <br>No Boleto Bancário</span>
                <small class="visible-xs"><!--{desconto_boleto}-->% de desconto no boleto bancário</small>
            </div>

            <div class="col-md-3 col-xs-6 text-uppercases text-center hide">
                <i class="fa fa-lock fa-3x hide"></i>
                <button type="button" class="btn btn-custom btn-round"><span class="fa fa-lock fa-3x"></span></button>                
                <br/> 
                <span class="hidden-xs">Compras 100% Seguras <br> Compre com Tranquilidade</span>
                <small class="visible-xs">Compras 100% seguras</small>
            </div>

        </div>
    </div>
</div>